body {
  font-family: Tahoma, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

ul, ol, .description {
  font-family: garamond, "Times New Roman";
  font-size: 16px;
  margin-top: 20px;
}

li {
  padding: 4px;
}